:root{
    --olive: #8b9949;
    --brown-dark: #645d4d;
    --terra: #d67958;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.text-olive{ color: var(--olive) !important; }
.text-brown{ color: var(--brown-dark) !important; }
.btn-olive{ background: var(--olive); color: #fff; border: none; }
.btn-terra{ background: var(--terra); color: #fff; border: none; }

.navbar-brand strong{ color: var(--brown-dark); }

/* Centramos el contenido principal y damos un max-width en pantallas grandes */
main.container{ max-width: 1100px; }

footer.site-footer{ border-top: 1px solid rgba(0,0,0,.05); }
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
